<div class="flex items-center justify-center">
  <input
    [(ngModel)]="urlValue"
    type="url"
    placeholder="https://..."
    class="block sm:w-1/3 placeholder-gray-400/70 dark:placeholder-gray-500 rounded-l-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300"
  />
  <button
    (click)="shortUrl()"
    class="px-10 py-[11px] font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-r-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80"
  >
    short
  </button>
</div>
